body, td, th, div, p, label, input {
    color: #656565;
    font: 12px/18px Arial,Helvetica,sans-serif;
}
input, select, #contact_text {
    color: #000000;
}
input.inputbox, select, textarea {
    border: 1px solid #E0E0DE;
}
a {
    color: #E04D25;
    text-decoration: underline;
}
a:hover {
    color: #181818;
    text-decoration: none;
}
a, button, .button {
    cursor: pointer;
}
.tool-tip {
    background: none repeat scroll 0 0 #FFFFCC;
    border: 1px solid #D4D5AA;
    color: #000000;
    float: left;
    max-width: 200px;
    padding: 5px;
    text-align: left;
}
.tool-title {
    background: url("/assets/maket/selector-arrow.png") no-repeat scroll 0 0 transparent;
    color: #000000;
    font-size: 100%;
    font-weight: bold;
    margin: -15px 0 0;
    padding: 15px 0 5px;
}
.tool-text {
    color: #000000;
    font-size: 100%;
    margin: 0;
}
h4 {
    margin: 0 0 25px;
}
.text-sub {
    padding: 0 0 10px;
}
.text-sub h4 {
    color: #B1B1B1;
    font-size: 18px;
    font-weight: normal;
    padding: 5px 0 19px;
    text-transform: capitalize;
}
.text-sub p {
    padding: 0 0 15px !important;
}
.sub-indent-img {
    padding: 25px 0;
}
.sub-indent-bottom {
    display: block;
    padding-bottom: 5px;
}
.columns {
    overflow: hidden;
    padding: 20px 0 25px;
    width: 100%;
}
.column-left {
    float: left;
    width: 48%;
}
.column-right {
    float: right;
    width: 48%;
}
.columns dt {
    color: #676767;
    font-weight: bold;
}
.columns dd {
    padding: 5px 0 9px;
}
.alignleft {
    float: left;
    margin: 0 15px 15px 0 !important;
}
.pagenavcounter {
    padding: 11px 0;
}
h6 {
    font: bold 12px Arial,Helvetica,sans-serif;
}
.article-decor {
    padding: 0 0 12px;
}
#contact_text {
    font-size: 12px;
    height: auto;
    margin: 0 0 5px;
    overflow: auto;
    width: 90%;
}
.index-page .article-separator-indent {
    padding: 29px 0 0;
}
.article-separator-indent {
    padding: 29px 0 0;
}
.article_separator {
    border-top: 1px solid #E8E8E8;
    display: none;
    height: 35px;
}
.column_separator {
    padding: 0 0 0 25px !important;
}
.article_column {
    padding: 0;
}
.article_indent h3 {
    overflow: hidden;
}
.article_indent h3 img {
    float: left;
    margin: 0 3px 0 0 !important;
}
.contentpaneopen ul, .article-indent ul {
    list-style: disc outside none;
    margin: 0 0 0 15px;
}
.contentpaneopen ul li, .article-indent ul li {
    padding: 0 0 6px;
}
.contentdescription img {
    margin: 0 20px 0 0;
}
.contentpaneopen img {
    margin: 0 11px 0 0;
}
.contentpaneopen h3 img {
    margin: 18px 10px 0 0;
}
#content .module ul {
    list-style: none outside none;
    margin: 0;
}
.container ul, .list, #right .menu {
    list-style: none outside none;
    margin: 0;
    padding: 0 !important;
}
.container ul li, #content .module ul li, .list li, #right .menu li, .module_menu li {
    overflow: hidden;
    vertical-align: top;
    width: 100%;
}
.list li a, #right .menu li a, #content .module ul li a, #content .module ul li a:hover {
    background: url("/assets/maket/marker2.gif") no-repeat scroll 0 9px transparent;
    color: #2C90C8;
    display: inline-block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 25px;
    padding: 0 0 0 10px;
    text-decoration: none;
    text-transform: capitalize;
}
#content .module ul li a:hover, .list li a:hover, #right .menu li a:hover {
    background: url("/assets/maket/marker2.gif") no-repeat scroll 0 9px transparent;
    color: #181818;
    display: inline-block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 25px;
    padding: 0 0 0 10px;
    text-decoration: none;
    text-transform: capitalize;
}
.container ul li p {
    line-height: 20px;
    padding: 0;
}
.comments {
    display: none !important;
}
#body ul.list-col li a {
    background: none repeat scroll 0 0 transparent;
    color: #7D7979;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
#body ul.list-col li a:hover {
    background: none repeat scroll 0 0 transparent;
    color: #181818;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
.article a {
    text-decoration: none !important;
}
.article a.learn {
    color: #D72221;
}
.img-indent {
    float: left;
    margin: 0 20px 0 0 !important;
    position: relative;
}
.img-indent1 {
    margin: 0 !important;
}
.text3 {
    color: #21A8D0;
    font-size: 13px;
    line-height: 19px;
}
.extra-title {
    color: #353535;
    display: block;
    font-size: 11px;
    padding: 15px 0 0;
    text-transform: uppercase;
}
.indent-top1 {
    margin: 15px 0 0;
}
.indent-top3 {
    padding: 37px 0 0;
}
.list-indent1 {
    padding-bottom: 25px !important;
}
.article-indent {
    display: none;
    padding: 0;
}
.article-indent span.small {
    color: #E8E3D9;
    font-size: 11px;
    letter-spacing: normal;
    line-height: 15px;
    padding: 0;
}
.article-indent .createdate {
    color: #E8E3D9;
    display: block;
    font-size: 11px;
    letter-spacing: normal;
    line-height: 15px;
    margin: 0;
    padding: 3px 0 0;
}
.modifydate {
    color: #A1A1A1;
    font-size: 11px;
    padding: 15px 0 20px 1px;
    text-decoration: none !important;
}
.link1 {
    color: #404040;
}
.link2 {
    display: block;
    font-size: 12px;
    margin: 20px 0 5px;
}
.top0 {
    margin-top: 0 !important;
}
.black {
    color: #000000;
}
.componentheading {
    color: #394562;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 40px;
    font-weight: normal;
    line-height: 30px;
    margin-bottom: 24px;
    position: relative;
}
#poll {
    padding: 0;
}
td.contentheading {
    font-weight: normal;
    line-height: 1.2em;
    position: relative;
}
#component-contact .contentheading {
    background: none repeat scroll 0 0 transparent !important;
}
.wrapper1-border {
    padding-top: 0 !important;
}
.contentpaneopen p {
    padding: 0 0 15px;
}
.buttonheading {
    padding: 0 0 6px;
}
.icon-indent {
    padding: 2px 0 0;
}
.buttonheading img {
    margin: 3px 16px 0 0;
    padding: 0;
    position: relative;
}
span.contentheading {
    display: block;
    font-weight: normal;
    margin: 0 0 15px;
    padding: 15px 0;
}
#component-contact .contentheading {
    color: #A1A1A1;
    font-size: 14px;
    padding-bottom: 25px;
}
.indent-more {
    text-align: right;
}
div a.readon {
    border: medium none;
    color: #7D7979;
    cursor: pointer;
    display: block;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-style: italic;
    font-weight: normal;
    line-height: 14px;
    margin: 0 0 20px;
    text-decoration: underline;
}
div a.readon:hover {
    color: #181818;
    text-decoration: none;
}
.button {
    background: url("/assets/maket/marker.gif") no-repeat scroll 100% 2px transparent;
    color: #2C90C8;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    line-height: 15px;
    margin: 19px 0 0;
    padding: 0 21px 0 0;
    text-decoration: none;
    text-transform: uppercase;
    word-spacing: -1px;
}
.button2 {
    color: #2C90C8;
}
.button:hover, .button2:hover {
    color: #394562;
}
div a.readon span {
    line-height: 11px;
}
.read_portfolio {
    background: url("/assets/maket/button_portfolio.png") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 38px;
    margin: 0 0 0 3px;
    width: 225px;
}
.read_portfolio:hover {
    background: url("/assets/maket/button_portfolio_hover.png") no-repeat scroll 0 0 transparent;
}
.blog_more {
    padding: 15px 0 10px 26px;
}
.blog_more strong {
    color: #333333;
    display: block;
    font-size: 17px;
    font-weight: normal;
    line-height: 18px;
    padding: 0 21px 11px 0;
}
.blog_more h2 {
    font-size: 12px;
    padding: 0;
}
.blog_more ul {
    margin: 15px 0 !important;
}
.pagin-bottom {
    padding-bottom: 0;
}
.pagin-top {
    padding-top: 0;
}
.iteminfo {
    margin: 0 0 15px;
    padding: 0 0 6px;
}
.createdby {
    color: #7A7A7A;
    display: block;
    text-transform: none;
}
div.small {
    color: #7A7A7A;
    display: block;
    font-size: 11px;
    font-weight: normal;
    line-height: 11px;
    margin: 0;
    padding: 0 0 7px;
    white-space: nowrap;
}
.white {
    color: #FFFFFF;
}
#martInfo .button {
    width: 52px;
}
#martInfo h3 {
    color: #666565;
    display: block;
    float: left;
    font: 11px Arial,Helvetica,sans-serif;
    text-transform: uppercase;
    width: 71px;
}
#martInfo .moduletable {
    text-align: right;
}
.null {
    margin: 0 !important;
    padding: 0;
}
#content .validate, #content .readmore a {
    background: url("/assets/maket/button1.png") no-repeat scroll 0 5px transparent;
    border: medium none;
    color: #545454;
    cursor: pointer;
    display: block;
    float: left;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 28px;
    padding: 5px 0 4px;
    text-align: center;
    text-decoration: none;
    text-transform: lowercase;
    vertical-align: top;
    width: 123px;
}
#content .validate:hover, #content .modal-button:hover, #content .readmore a:hover, #content div.blank a:hover {
    background: url("/assets/maket/button1_hover.png") no-repeat scroll 0 5px transparent;
    color: #545454 !important;
    text-decoration: none;
}
* html .button, * html .validate {
    display: block;
}
.wrapper-sub-title, .sub-title-wrapper {
    background: none repeat scroll 0 0 #CDCDCD;
    color: #2C2C2C;
    padding-bottom: 8px !important;
    padding-top: 8px !important;
}
.wrapper-sub-title a, .wrapper-sub-title a:hover, .sub-title-wrapper a {
    color: #000000;
}
.sub-indent-table {
    text-indent: 8px;
}
#content .button2-left {
    float: left;
    margin-right: 5px;
}
#content .button2-left, .image {
    display: inline;
}
#content .button2-left a:hover, #content .readmore a:hover, #content div.blank a:hover {
    color: #FF8C0A;
}
.modal-button, .readmore a, div.blank a {
    float: left;
    margin: 0 1px 0 0;
    padding: 0;
}
#editor-xtd-buttons {
    float: left;
    overflow: hidden;
    padding: 5px 0;
    width: 500px;
}
#editor-xtd-buttons .readmore {
    display: inline;
    line-height: 12px;
}
#editor-xtd-buttons .readmore a {
    line-height: 26px;
}
.blank {
    padding: 5px 0 0;
}
#content .button, #content .validate, #content .modal-button {
    background: url("/assets/maket/button1.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    color: #545454;
    cursor: pointer;
    display: block;
    float: left;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 28px;
    padding: 0 0 1px;
    text-align: center;
    text-decoration: none;
    text-transform: lowercase;
    width: 123px;
}
#content .button:hover, #content .validate:hover, #content div.blank a:hover, #content .readmore a:hover, #content .modal-button:hover {
    background: url("/assets/maket/button1_hover.png") no-repeat scroll 0 0 transparent;
    color: #545454 !important;
    text-decoration: none;
}
#content .searchArea .button {
}
#content .modal-button, #content div.blank a, #content .readmore a {
    background: url("/assets/maket/button1.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    color: #000000;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 11px;
    font-weight: bold;
    height: 32px;
    padding: 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 123px;
}
.pagin-top-border, .pagin-bottom {
    text-align: center;
}
.pagenav {
    font-weight: normal;
}
a.pagenav {
    font-weight: normal;
    margin: 0 2px 0 0;
    padding: 0 2px;
    text-decoration: none;
}
a.pagenav:hover {
    text-decoration: underline;
}
a.pagenav:visited {
    text-decoration: none;
}
.pagination_nav {
    font-size: 12px;
    padding: 10px 20px 0 27px;
}
.pagination_nav div {
    padding: 5px 0;
}
.pagination {
    margin-top: 10px;
}
.pagination li {
    padding: 0 5px;
}
.pagination_result {
    line-height: 16px;
    padding: 5px 0 0;
}
.pagination span {
    padding: 0 10px 0 0;
}
.pagination strong span {
    font-weight: normal;
    padding: 0 6px;
}
.searchArea {
    border: 1px solid #D2D2D2;
    margin: 0;
    padding: 23px 10px;
}
.sectiontableentry0 td, .sectiontableentry1 td, .sectiontableentry2 td {
    border-bottom: 1px solid #E0E0E0;
}
.sectiontableentry1 td, .sectiontableentry0 td, .sectiontableentry2 td {
    padding-bottom: 5px;
    padding-top: 5px;
    text-indent: 11px;
}
.var1 {
    border-bottom: medium none;
    color: #181818 !important;
    margin: 5px 0;
    padding: 10px 15px 15px !important;
}
.var1 a, .var1 p {
    color: #74726A;
}
.var2 {
    border-bottom: medium none;
    color: #181818 !important;
    margin: 5px 0;
    padding: 10px 15px 15px !important;
}
.var2 a, .var2 p {
    color: #74726A;
}
.results {
    padding: 20px 20px 15px 14px;
}
.results .var1 h4, .results .var2 h4 {
    font-weight: normal;
    margin: 0 0 10px;
}
.searchintro {
    padding: 10px 0 10px 10px;
}
.results ol li {
    padding: 0 0 10px;
    text-align: justify;
}
.results h3 {
    padding-bottom: 25px;
}
#searchForm {
    display: block;
    padding: 0;
}
#searchForm .search_inp {
    background: url("/assets/maket/input_login.png") no-repeat scroll 0 0 transparent;
}
#content .searchArea .button {
    margin: 0 0 0 10px !important;
    padding: 0 0 1px;
}
.sectiontableheader {
    padding: 6px 5px 6px 11px;
}
#search_searchword {
    background: none repeat scroll 0 0 transparent;
    height: 24px;
    line-height: 21px;
    margin: 0;
    padding: 4px 0 3px 10px !important;
    width: 172px;
}
#search_searchword {
}
.indent-search-searchword {
    display: block;
    line-height: 19px;
    padding: 5px 11px 0 0;
}
.archiveBlock .button {
    display: inline-block;
    margin: 0 0 0 5px;
}
ul#archive-list h4 a {
    font-size: 12px;
    text-transform: none;
}
dl.poll {
    padding: 25px 0 35px;
}
.button-poll-left, .button-poll-right {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #2C90C8;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 11px;
    font-weight: bold;
    height: 32px;
    padding: 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    z-index: 900;
}
.button-poll-left:hover, .button-poll-right:hover {
    color: #181818;
}
.button-poll-right {
    margin-left: 35px !important;
}
#poll h3 {
    color: #74726A;
    font-size: 20px;
    padding: 0 0 10px;
    text-transform: capitalize;
}
dl.poll dt {
    font-weight: bold;
    padding: 7px 0 0;
}
.poll .question {
    color: #74726A;
    font-size: 17px;
    line-height: 18px;
    padding: 0 0 5px;
}
.poll .poll-body {
    padding: 15px 0;
}
.poll-body label {
    line-height: 14px;
    padding: 0 0 0 4px;
}
.poll .buttons {
    margin: 0;
}
.poll .result {
    background: none repeat scroll 0 0 #FFEA00;
}
.poll .section {
    color: #2C2C2C;
    overflow: hidden;
    padding: 3px 0;
    width: 100%;
}
.poll .section2 {
    color: #878989;
    overflow: hidden;
    padding: 2px 0 4px;
    width: 100%;
}
.poll .radio {
    float: left;
    width: 20px;
}
.poll .radio input {
    display: block;
    height: 16px;
    vertical-align: middle;
    width: 16px;
}
.poll .var {
    margin: 0 0 0 20px;
    text-align: left;
}
.display {
    padding: 0 0 10px;
}
.display select {
    border: 1px solid #46462F;
    width: 100px;
}
.sectiontableentry1 div, .sectiontableentry0 div {
    font-size: 1px;
}
.td_1, .td_2 {
    text-align: center;
    width: 5%;
}
.td_3 {
    padding: 0 0 0 10px;
    width: 90%;
}
.pollstableborder .question {
    padding: 0 0 0 85px;
}
.pollstableborder {
    margin: 25px 0 0;
}
dl.contentpane dt {
    padding: 10px 0 20px;
}
dl.contentpane dd {
    overflow: hidden;
    width: 100%;
}
dl.contentpane div {
    vertical-align: middle;
}
dl.contentpane .description {
    padding: 9px 0 0;
    width: 120px;
}
dl.contentpane .input-field {
    background: url("/assets/maket/input_login.png") no-repeat scroll 0 4px transparent;
    border: medium none;
    color: #A7A7A7;
    font: 14px Arial,Helvetica,sans-serif;
    height: 22px;
    padding: 7px 6px 2px;
    width: 170px;
}
dl.contentpane .input-field #email {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    padding: 3px 5px 4px;
    width: 160px;
}
dl.contentpane .button-field {
    padding: 4px 0 0;
    width: 140px;
}
.search {
    height: 37px;
    padding: 0;
    width: 224px;
}
.search .search-input {
    display: inline;
    float: left;
    height: 35px;
    vertical-align: top;
    width: 131px;
}
.search .search-button {
    float: left;
    width: 39px;
}
.search span {
    color: #FFFFFF;
    display: inline-block;
    float: left;
    font-size: 11px;
    font-weight: normal;
    line-height: 12px;
    padding: 9px 11px 0 0;
}
.search .inputbox {
    background: url("/assets/maket/search_input.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    color: #999898;
    float: left;
    font-size: 13px;
    height: 22px;
    line-height: 16px;
    margin: 0 !important;
    padding: 3px 3px 3px 12px;
    text-transform: capitalize;
    vertical-align: top;
    width: 121px;
}
.search .button {
    background: url("/assets/maket/search_button.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    float: left;
    height: 35px;
    margin: 0 !important;
    padding: 0 !important;
    width: 39px !important;
}
.search .button:hover {
    text-decoration: underline;
}
span.count {
    color: #2C90C8;
}
.search_result {
    padding: 0 20px 0 0;
}
.search_result h3 {
    color: #808080;
    font-size: 14px;
}
.searchintro b, .searchintro strong, .highlight {
    color: #74726A;
    font-weight: bold;
}
.adminform td {
    padding: 0 0 2px;
}
.pagin-bottom {
    padding: 5px 0 15px;
}
.main_err {
    margin: 0 auto;
    width: 940px;
}
.error {
    margin: 0 10px 25px 0;
}
.message {
    margin: 0 !important;
}
#system-message dt.error, dt.message {
    display: none;
}
.error dd ul {
    background: none repeat scroll 0 0 #CE0303;
    border-bottom: 3px solid #670606;
    border-top: 3px solid #670606;
    color: #FFFFFF;
    margin: 0 !important;
    padding: 5px 0 5px 10px !important;
    width: 100%;
}
.error dd ul li {
    background: none repeat scroll 0 0 transparent !important;
    color: #FFFFFF !important;
    margin: 0 0 0 20px !important;
    padding: 0 !important;
}
.module_menu ul {
    list-style: none outside none;
    margin: 0 !important;
}
.module_menu li {
    overflow: hidden;
    vertical-align: top;
    width: 100%;
}
.module_menu li ul {
    margin: 0 !important;
    padding: 11px 0 0 16px;
}
.module_menu li ul li {
    background: none repeat scroll 0 0 transparent !important;
    border: medium none;
    padding: 4px 0 !important;
}
.module_menu li ul li a {
}
.module_menu li a {
    background: url("/assets/maket/marker2.gif") no-repeat scroll 0 9px transparent;
    color: #FFFFFF;
    display: inline-block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 25px;
    padding: 0 0 0 10px;
    text-decoration: none;
}
.module_menu li a:hover {
    color: #20A2FF;
}
#bg_nav {
    background: url("/assets/maket/menu_bg.png") repeat-x scroll 0 100% transparent;
    height: 71px;
    position: relative;
    width: 100%;
    z-index: 100;
}
#nav {
    height: 52px;
    left: 320px;
    padding: 1px 0 0;
    position: absolute;
    top: 34px;
    z-index: 90;
}
.call {
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 16px;
    letter-spacing: -1px;
    position: absolute;
    right: 0;
    top: 23px;
}
.call span {
    color: #A0C720;
}
.module-login {
    padding: 0;
}
#left .module-login h3 {
}
.module-login .moduleTopBg {
    width: 100%;
}
.module-login .sec {
    width: 100%;
}
.module-login .boxIndent {
    padding: 0;
}
.login-text-1 {
    color: #969494;
    font-size: 11px;
}
.form-height {
    height: 29px;
    margin: 3px 0 6px;
}
#form-login {
    padding: 0 0 0 15px;
}
#form-login-remember {
    padding: 6px 0 10px;
}
.module-login label {
    color: #969494;
    display: block;
    font-size: 12px;
    line-height: 18px;
    padding: 0 0 0 2px;
    width: 100%;
}
label.remember {
    color: #969494 !important;
    display: inline;
    margin: 0;
}
.module-login p, .module-login div, label.remember {
    line-height: 18px;
    text-transform: none;
}
.logo-title {
    color: #969494 !important;
    display: block;
    font-size: 14px !important;
    line-height: 35px;
    padding-bottom: 0 !important;
    padding-left: 15px;
    padding-top: 10px !important;
}
#mod_login_username, #mod_login_password {
}
.module-login a, .module-login a:hover {
    background: none repeat scroll 0 0 transparent;
    color: #969494 !important;
    font-size: 11px;
    font-weight: normal;
    line-height: 15px;
    margin: 0;
    text-decoration: none;
}
.module-login a:hover {
    text-decoration: underline;
}
.module-login .username {
    background: url("/assets/maket/input_login.png") no-repeat scroll 0 100% transparent;
}
.module-login .password {
    background: url("/assets/maket/input_login.png") no-repeat scroll 0 100% transparent;
}
.module-login .inputbox {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #A7A7A7;
    float: left;
    font: 13px Arial,Helvetica,sans-serif;
    height: 19px;
    margin: 0 6px 0 10px;
    padding: 5px 0 6px;
    width: 162px;
}
.module-login .inputbox {
}
#modlgn_username, #modlgn_passwd {
    float: left;
}
.username label, .password label {
}
.remember {
    padding: 4px 0 0;
}
input.checkbox {
    border: medium none;
    display: block;
    float: left;
    height: 12px;
    margin: 3px 6px 0 0;
    position: relative;
    vertical-align: middle;
    width: 12px;
}
.blue {
    color: #969494 !important;
}
.button-login:hover, #right .log .button:hover {
    background: url("/assets/maket/button1_hover.png") no-repeat scroll 0 0 transparent;
    color: #545454 !important;
    text-decoration: none;
}
.button-login, .log .button {
    background: url("/assets/maket/button1.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    color: #545454;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 20px;
    font-weight: normal;
    line-height: 28px;
    padding: 1px 0 4px;
    text-align: center;
    text-decoration: none;
    text-transform: lowercase;
    width: 123px;
}
#inputs {
    display: none;
    padding: 0 11px 12px 0;
}
.log {
    display: block;
    overflow: hidden;
    width: 100%;
}
#body {
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}
.main {
    height: auto !important;
    margin: 0 auto;
    min-height: 100%;
    min-width: 940px;
    overflow: hidden !important;
    padding: 0;
    position: relative !important;
    width: 100%;
}
.header {
    background: url("/assets/maket/header_bg_tail.jpg") repeat-x scroll 0 0 transparent;
    height: 103px;
    margin: 0 auto;
    position: relative;
    width: 100%;
    z-index: 150;
}
.header-bg {
    background: url("/assets/maket/header_bg.jpg") no-repeat scroll center top transparent;
    height: 103px;
}
.head {
    height: 88px;
    margin: 0 auto;
    position: relative;
    width: 940px;
    z-index: 150;
}
#logo {
    height: 46px;
    left: 6px;
    margin: 0;
    position: absolute;
    top: 32px;
    width: 151px;
    z-index: 500;
}
#logo a {
    cursor: pointer;
    display: block;
    position: relative;
}
.clear {
    overflow: hidden;
    width: 100%;
}
.clear2 {
    width: 100%;
}
.clear1 {
    clear: both;
}
.clearfix {
    clear: both;
    font-size: 0;
    height: 0;
    line-height: 0;
}
.br {
    display: block;
}
.fright {
    float: right !important;
}
.fleft {
    float: left;
}
.row-search {
    height: 80px;
}
.row-top-menu {
    float: right;
}
.content_bg {
    background: url("/assets/maket/main_bg.jpg") repeat-x scroll 0 0 transparent;
    min-height: 100%;
    overflow: hidden;
    padding: 51px 0 320px;
    position: relative;
    width: 100%;
}
.content-top {
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 940px;
    z-index: 500;
}
.grey_bg {
    margin: 0;
}
#content {
    padding: 0;
}
.container {
    height: 100%;
    overflow: hidden;
    padding: 0 40px 23px 0;
    text-align: left;
}
.first .container .container_pad {
    padding: 276px 20px 0 0;
}
.container .container_pad {
    padding: 36px 20px 0 0;
}
#left {
    float: left;
    margin: 0;
    padding: 0 20px 0 0;
    text-align: left;
    width: 190px;
}
#right {
    float: right;
    margin: 0;
    padding: 0;
    text-align: left;
    width: 190px;
}
.indent-top-none {
    padding-top: 0 !important;
}
.text1 dt {
    color: #A6A6A6;
    font-size: 10px;
    line-height: 14px;
}
.text1 dt strong {
    color: #A6A6A6;
    display: block;
    font-size: 13px;
}
.text1 dd {
    color: #30383C;
    font-size: 13px;
    line-height: 20px;
    padding: 5px 0 10px;
}
.img_indent {
    float: left;
    margin: 0 7px 0 0 !important;
}
.right_content {
    display: table;
}
.index-page .container {
    padding: 19px 0 0;
}
.index-page .article-title-text, .blogentry-heading {
    color: #74726A;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 56px;
    font-weight: normal;
    letter-spacing: -2px;
    line-height: 58px;
    margin: 0 0 29px;
    position: relative;
}
.article-title-text a, .blogentry-heading a {
    color: #74726A;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 56px;
    font-weight: normal;
    letter-spacing: -2px;
    line-height: 58px;
    margin: 0 0 29px;
    position: relative;
}
.article-title-text a:hover, .blogentry-heading a:hover {
    color: #333333;
    font-size: 56px;
    font-weight: normal;
    letter-spacing: -2px;
    line-height: 58px;
    margin: 0 0 29px;
    position: relative;
}
.article-title-text, .blogentry-heading {
    color: #74726A;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 40px;
    font-weight: normal;
    letter-spacing: -2px;
    line-height: 44px;
    margin-bottom: 20px;
    position: relative;
}
.article-title-text a, .blogentry-heading a {
    color: #74726A;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 40px;
    font-weight: normal;
    letter-spacing: -2px;
    line-height: 44px;
    margin-bottom: 20px;
    position: relative;
}
.article-title-text a:hover, .blogentry-heading a:hover {
    color: #333333;
    font-size: 40px;
    font-weight: normal;
    letter-spacing: -2px;
    line-height: 44px;
    margin-bottom: 20px;
    position: relative;
}
.article-text-indent {
    padding: 0;
}
.indent-top {
    margin-top: -2px;
    padding: 0 0 21px !important;
}
.wrapper-box .boxTitle h3 {
    color: #394562;
    font-size: 36px;
    font-weight: normal;
    line-height: 1.2em;
    margin-bottom: 29px;
    position: relative;
}
#left h3, #right h3, h3 {
    color: #394562;
    font-size: 36px;
    font-weight: normal;
    line-height: 1.2em;
    margin-bottom: 11px;
    position: relative;
}
#left .s1 h3, #right .s1 h3 {
    color: #303030;
    font-family: Calibri,'Lucida Grande',Verdana,Arial,Sans-Serif;
    font-size: 30px;
    font-weight: normal;
    line-height: 1.2em;
    margin-bottom: 20px;
    position: relative;
    text-transform: capitalize;
}
.wrapper-box .boxIndent {
    padding: 0 0 41px;
}
.module-login .boxIndent {
    margin-bottom: 0;
    padding: 0;
}
.module-login {
    margin-bottom: 28px !important;
}
.project_block {
    background: url("/assets/maket/dots.gif") repeat-x scroll 0 100% transparent;
    font-size: 11px !important;
    line-height: 17px;
    margin: 0 0 20px;
    padding: 0 0 20px;
}
.project_block div {
    font-size: 11px !important;
    line-height: 17px;
}
.project_block .img_indent {
    margin-right: 12px !important;
}
.project_title {
    margin-bottom: 8px;
}
.project_title a {
    color: #000000;
    font-size: 12px;
    font-weight: bold;
}
#left .blue {
    color: #60B6CC !important;
    font-size: 11px !important;
    font-style: italic;
}
.blue {
    color: #60B6CC !important;
    font-size: 11px !important;
    font-style: italic;
}
.footer {
    background: url("/assets/maket/footer_bg_tail.jpg") repeat-x scroll 0 0 transparent;
    bottom: 0;
    height: 320px;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    z-index: 10000;
}
.foot_bg {
    background: url("/assets/maket/footer_bg.jpg") no-repeat scroll center top transparent;
    height: 265px;
    padding: 55px 0 0;
    position: relative;
    width: 100%;
    z-index: 10;
}
.foot {
    height: 255px;
    margin: 0 auto;
    position: relative;
    width: 940px;
}
.img-none {
    display: none;
}
.copy {
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    height: 18px;
    left: 0;
    line-height: 15px;
    position: absolute;
    top: 225px;
}
.copy a {
    color: #20A2FF;
    font-size: 13px;
    line-height: 15px;
    text-decoration: none;
}
.copy a:hover {
    color: #FFFFFF;
}
.foot .menu-nav {
    background: none repeat scroll 0 0 transparent !important;
    left: 40px !important;
    padding: 0 !important;
    position: absolute !important;
    top: 16px !important;
    width: 100% !important;
}
.foot .menu-nav ul {
    display: none;
}
.foot .menu-nav li {
    clear: none !important;
    float: left !important;
    list-style: none outside none;
    margin: 0 14px 0 0 !important;
    padding: 0 !important;
}
.foot .menu-nav a {
    background: none repeat scroll 0 0 transparent;
    color: #B5B5B5;
    float: left;
    font-size: 11px;
    font-weight: normal;
    padding: 0;
    text-decoration: none;
    text-transform: uppercase;
    width: auto;
}
.foot .menu-nav a:hover {
    color: #000000;
    text-decoration: none !important;
}
.foot .menu-nav a strong {
    font-weight: normal !important;
}
#emailForm .inputbox, #emailForm #contact_text {
    background: none repeat scroll 0 0 transparent;
    color: #A7A7A7;
    font-family: Trebuchet MS,Trebuchet MS1,Helvetica,sans-serif;
    font-size: 13px;
}
.form-validate .paramlist_key {
    width: 294px !important;
}
.contact_input {
    background: url("/assets/maket/inp_bg.png") no-repeat scroll 0 0 transparent;
    height: 27px;
    margin-bottom: 7px;
    width: 318px;
}
#emailForm .contact_input input {
    margin: 0 10px;
    padding: 2px 0;
    width: 300px;
}
#emailForm .button {
    padding: 0 0 4px;
}
.contactmap.textarea {
    background: url("/assets/maket/area_bg.png") no-repeat scroll 0 0 transparent;
    margin-bottom: 23px;
}
.contactmap.textarea {
    border: medium none;
    color: #A7A7A7;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 13px;
    height: 124px !important;
    overflow: auto;
    padding: 6px 10px !important;
    width: 352px !important;
}
#contact_email_copy {
    vertical-align: text-top;
}
#pano {
    margin: 0 0 20px;
}
.contactmap_message, .contactmap_detail, .contactmap_contact {
    margin: 0 0 15px;
}
.input_cont {
    margin: 0 20px 0 0;
}
.gn_list_1 ul li {
    overflow: hidden;
    vertical-align: top;
    width: 100%;
}
.nsb_container a {
    margin: 0 3px 0 0;
}
.moduleButton {
    background: url("/assets/maket/button_newsletter.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    float: right;
    height: 34px;
    margin: 7px 0 0;
    width: 100px;
}
.moduleButton:hover {
    background: url("/assets/maket/button_newsletter_hover.png") no-repeat scroll 0 0 transparent;
}
.inner-1 {
    margin: 2px 0 0 96px;
}
.input_news {
    background: url("/assets/maket/subcribe_input.jpg") repeat-x scroll 0 0 transparent;
    border-radius: 5px 5px 5px 5px;
    height: 31px;
    margin-bottom: 7px;
    width: auto;
}
#subscribeFormModule {
    height: 60px;
    margin: 5px 0 0;
    width: 182px;
}
.input_news .moduleInput {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #7D7979;
    display: block;
    font: 16px Arial,Helvetica,sans-serif;
    height: 21px;
    margin: 0;
    padding: 5px 10px 11px;
    width: 161px;
}
.err_msg_pad {
    padding: 0 0 15px;
}
.login_right {
    background: url("/assets/maket/sep_login.gif") no-repeat scroll 100% 2px transparent;
    left: 21px;
    padding: 0 7px 0 0;
    position: absolute;
    top: 20px;
    width: 26px;
}
.login_right table tbody tr td {
    text-align: left;
}
.login_right table tbody tr td span {
    color: #949393;
    display: inline-block;
    font-size: 11px;
    line-height: 13px;
    padding: 0 3px 0 0;
}
.login_right table tbody tr td a {
    color: #FFFFFF;
    display: inline-block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: normal;
    line-height: 12px;
    position: relative;
    text-decoration: none;
    z-index: 900;
}
.subcribe .wrapper-box h3 {
    color: #E6E6E6;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 27px;
    position: relative;
}
#nlr-bg {
    background: none repeat scroll 0 0 transparent;
}
#nlr-bg span {
    color: #676767;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 16px;
    padding: 0 0 15px 1px;
}
input.inputbox {
    background: url("/assets/maket/inp_bg.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    color: #A7A7A7;
    font: 13px Arial,Helvetica,sans-serif;
    height: 21px;
    margin: 0 5px 0 0;
    padding: 3px 6px 4px;
    width: 307px;
}
#josForm .componentheading {
    padding: 0 0 10px;
}
#remember {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    width: 20px;
}
#com-form-login-username {
    background: url("/assets/maket/input_login.png") no-repeat scroll 0 100% transparent;
    display: block;
    margin: 0 0 10px;
    overflow: hidden;
    padding: 0;
}
#com-form-login-password {
    background: url("/assets/maket/input_login.png") no-repeat scroll 0 100% transparent;
    display: block;
    margin: 0 0 10px;
    overflow: hidden;
    padding: 0;
}
#com-form-login input.button {
    padding: 0 0 4px;
}
#josForm, .josForm {
    padding: 0 0 30px;
}
#content .josForm button {
    padding: 1px 0 4px;
}
#namemsg, #usernamemsg, #emailmsg, #pwmsg, #pw2msg {
    display: inline-block;
    padding: 5px 0 0;
}
#com-form-login label {
    display: inline-block;
    padding: 0 0 3px;
}
#com-form-login input#username, #com-form-login input#passwd {
    background: none repeat scroll 0 0 transparent;
    margin: 0 10px;
    padding: 3px 0 4px;
    width: 160px;
}
.slide_bg_tail {
    background: url("/assets/maket/slider_bg_tail.jpg") repeat-x scroll 0 0 transparent;
    height: 473px;
    width: 100%;
}
.slide_bg {
    background: url("/assets/maket/slider_bg.jpg") no-repeat scroll center top transparent;
    height: 473px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 10;
}
.slides {
    height: 515px;
    margin: 0 auto;
    overflow: hidden;
    padding: 15px;
    width: 924px;
}
.slider {
    padding: 0 0 12px;
}
.foot_menu {
    left: 0;
    position: absolute;
    top: 0;
}
dl#list-index {
    float: left;
    padding: 0 40px 0 0;
}
dl.top-last {
    padding: 0 !important;
}
dl#list-index dt {
    color: #3C3939;
    font-size: 30px;
    font-weight: bold;
    height: 77px;
    letter-spacing: -2px;
    line-height: 32px;
    padding: 0 0 0 80px;
}
dl#list-index dt strong {
    display: inline-block;
    padding: 15px 0 0;
}
dl#list-index dt.pic1 {
    background: url("/assets/maket/index_pic1.png") no-repeat scroll 0 0 transparent;
}
dl#list-index dt.pic2 {
    background: url("/assets/maket/index_pic2.png") no-repeat scroll 0 0 transparent;
}
dl#list-index dt.pic3 {
    background: url("/assets/maket/index_pic3.png") no-repeat scroll 0 0 transparent;
}
dl#list-index dd {
    color: #3A3A3A;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 13px;
    line-height: 20px;
    padding: 0 0 15px;
    width: 280px;
}
dl#list-index dd a.more {
    background: url("/assets/maket/button_more.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 46px;
    width: 87px;
}
dl#list-index dd a.more:hover {
    background: url("/assets/maket/button_more_hover.png") no-repeat scroll 0 0 transparent;
}
.cols_bg_bottom {
    background: url("/assets/maket/sep.gif") repeat-x scroll 0 249px transparent;
    overflow: hidden;
    width: 100%;
}
.cols {
    background: url("/assets/maket/cols_bottom_bg.jpg") no-repeat scroll 0 250px transparent;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 0 74px;
    width: 940px;
}
.col-1 {
    float: left;
    margin: 0 20px 0 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 300px;
}
.col-1 .wrapper-box .boxTitle h3 {
    background: url("/assets/maket/top_block_bg.jpg") repeat-x scroll 0 0 transparent;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 22px;
    padding: 10px 0 16px 21px;
    text-transform: uppercase;
}
.col-1 .wrapper-box p {
    font-size: 12px;
    line-height: 18px;
}
.col-2 {
    float: left;
    margin: 0 20px 0 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 300px;
}
.col-2 .wrapper-box .boxTitle h3 {
    background: url("/assets/maket/top_block_bg.jpg") repeat-x scroll 0 0 transparent;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 22px;
    padding: 10px 0 16px 21px;
    text-transform: uppercase;
}
.col-2 .wrapper-box p {
    font-size: 12px;
    line-height: 18px;
}
.col-3 {
    float: left;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 300px;
}
.col-3 .wrapper-box .boxTitle h3 {
    background: url("/assets/maket/top_block_bg.jpg") repeat-x scroll 0 0 transparent;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 22px;
    padding: 10px 0 16px 21px;
    text-transform: uppercase;
}
.col-3 .wrapper-box p {
    font-size: 12px;
    line-height: 18px;
}
div.img_bg {
    background: url("/assets/maket/index_img_bg.png") no-repeat scroll 0 0 transparent;
    height: 100%;
    margin: 0 0 26px;
    padding: 8px 8px 10px;
    width: 100%;
}
div.img_bg:hover {
    background: url("/assets/maket/index_img_bg_hover.png") no-repeat scroll 0 0 transparent;
}
.cols strong {
    color: #2A2A2A;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: -1px;
    line-height: 20px;
    margin: 0 0 21px;
}
.cols span {
    color: #8C8C8C;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    line-height: 20px;
    padding: 0 0 24px;
}
.col-1 .boxIndent, .col-2 .boxIndent, .col-3 .boxIndent {
    padding: 0;
}
.carousel {
    margin: 0 80px;
}
.carousel-box {
    position: relative;
}
.carousel ul li {
    border: 1px solid #DCDCDC;
    box-shadow: 2px 2px 3px #E0E0E0;
    float: left;
    height: 138px;
    margin: 0 20px 4px 0;
    width: 138px;
}
.carousel ul li:hover {
    border: 1px solid #212121;
}
.carousel-box .prev {
    background: url("/assets/maket/prev.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    height: 43px;
    left: 21px;
    outline: medium none;
    position: absolute;
    top: 47px;
    width: 43px;
}
.carousel-box .prev:hover {
    background: url("/assets/maket/prev_hover.png") no-repeat scroll 0 0 transparent;
    height: 43px;
    width: 43px;
}
.carousel-box .next {
    background: url("/assets/maket/next.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    height: 43px;
    outline: medium none;
    position: absolute;
    right: 23px;
    top: 47px;
    width: 43px;
}
.carousel-box .next:hover {
    background: url("/assets/maket/next_hover.png") no-repeat scroll 0 0 transparent;
    height: 43px;
    outline: medium none;
    width: 43px;
}
ul.latestnews, ul.mostread {
    margin: 0;
    overflow: hidden;
    width: 100%;
}
ul.latestnews li, ul.mostread li {
    overflow: hidden;
    vertical-align: top;
    width: 100%;
}
ul.latestnews li a, ul.mostread li a {
    background: url("/assets/maket/marker2.gif") no-repeat scroll 0 9px transparent;
    color: #2C90C8;
    display: inline-block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 25px;
    padding: 0 0 0 10px;
    text-decoration: none;
    text-transform: capitalize;
}
ul.latestnews li a:hover, ul.mostread li a:hover {
    color: #181818;
}
.bg_search {
    background: url("/assets/maket/search_bg.png") no-repeat scroll 0 0 transparent;
    height: 51px;
    overflow: hidden;
    position: absolute;
    right: 3px;
    top: 18px;
    width: 287px;
}
.twitter_bg {
    background: url("/assets/maket/twitt_bg_tail.gif") repeat-x scroll 0 0 transparent;
    height: 106px;
    padding: 30px 0 33px;
    width: 100%;
}
.twitter {
    background: url("/assets/maket/twitt_bg.png") no-repeat scroll 0 0 transparent;
    margin: 0 auto;
    width: 954px;
}
.footer .wrapper-box .boxTitle h3 {
    color: #27B1FF;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.2em;
    margin-bottom: 15px;
    position: relative;
}
ul.list1 {
    margin: 0 60px 0 0;
}
ul.list1 li {
    background: url("/assets/maket/marker2.gif") no-repeat scroll 0 2px transparent;
    padding: 0 0 0 27px;
}
ul.list1 li a {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
    width: 100%;
}
.contentpaneopen .pic-indent {
    float: left;
    margin: 0 18px 15px 0;
}
div.extra {
    margin: 15px 0;
    overflow: hidden;
}
ul.list-2 {
    list-style: none outside none;
    margin: 25px 0 20px;
    overflow: hidden;
    padding: 0;
}
ul.list-2 li {
    float: left;
    margin: 0 50px 0 0;
    overflow: hidden;
    vertical-align: top;
    width: 277px;
}
ul.list-2 li strong {
    color: #000000;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 25px;
    padding: 0 0 15px;
    text-transform: uppercase;
}
ul.list-2 li strong.extra1 {
    display: block;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    padding: 0;
    text-transform: none;
}
ul.list-2 li span {
    display: block;
    padding: 0 0 24px;
}
.p1 {
    display: block;
    margin: 7px 0 0;
}
.contentpaneopen .list4 {
    overflow: hidden;
    padding: 2px 0 9px;
    width: 100%;
}
.contentpaneopen .list4 li {
    overflow: hidden;
    padding: 0 0 21px;
    vertical-align: top;
    width: 100%;
}
.contentpaneopen .list4 li a.button2 {
}
.contentpaneopen .list4 li img {
    float: left;
    margin: 0 22px 0 0;
}
.contentpaneopen .list4 li strong {
    color: #2A2A2A;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: -1px;
    line-height: 20px;
    padding: 10px 0;
}
ul.list5 {
    overflow: hidden;
    padding: 3px 0 2px;
    width: 100%;
}
ul.list5 li {
    float: left;
    height: 201px;
    padding: 20px 40px 36px 0;
    width: 315px;
}
ul.list5 li img {
    float: left;
    margin: 0 19px 0 0;
}
ul.list5 li span {
    color: #2A2A2A;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: -1px;
    line-height: 20px;
    margin: 0 0 10px;
}
ul.list5li.extra {
    padding: 0 62px 0 0;
}
div.cont {
    float: right;
    padding: 18px 0 0;
}
dl.list {
    padding: 0 0 20px !important;
    width: 260px;
}
dl.list b {
    float: right;
    font-weight: normal;
    padding: 0 38px 0 0;
}
dl.list dd {
    line-height: 18px;
}
dl.list dt span {
    line-height: 19px !important;
}
.maps_g {
    float: right;
    width: 350px;
}
.subpage_top_bg {
    background: url("/assets/maket/subpage_top_bg.jpg") no-repeat scroll center top transparent;
    height: 107px;
    width: 100%;
}
.subpage_top {
    height: 107px;
    margin: 0 auto;
    text-align: center;
    width: 954px;
}
.subpage_top span {
    color: #FFFFFF;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 24px;
    line-height: 26px;
    padding: 42px 0 0;
}
.nivo-caption p {
    text-shadow: 1px 1px 1px #7E1616;
}
.anythingSlider img {
    margin: 0 41px 0 0;
}
span.text-1 {
    color: #FFFFFF;
    display: block;
    font-size: 46px;
    letter-spacing: -2px;
    line-height: 50px;
    padding: 80px 0 0;
    word-spacing: 4px;
}
span.text-2 {
    color: #289DDB;
    display: block;
    font-size: 46px;
    letter-spacing: -2px;
    line-height: 50px;
    padding: 0 0 38px;
}
p.portfolio-p {
    color: #FFFFFF;
    line-height: 22px;
    padding: 0 0 42px;
}
.top-title {
    margin: 0 auto;
    padding: 0 0 9px;
    width: 940px;
}
.top-title h2 {
    color: #394562;
    font-size: 38px;
    letter-spacing: -1px;
    line-height: 44px;
    text-align: center;
    word-spacing: 3px;
}
.date {
    margin: 0 auto;
    padding: 38px 0 0;
    width: 940px;
}
.slide-recent {
    background: url("/assets/maket/cols_bottom_bg.jpg") no-repeat scroll 0 99% transparent;
    margin: 0 auto;
    overflow: hidden;
    padding: 15px 0 14px;
    position: relative;
    width: 940px;
}
.slide-recent .wrapper-box .boxTitle h3 {
    margin-bottom: 28px;
    text-align: center;
    word-spacing: 2px;
}
.slide-recent_bg {
    background: url("/assets/maket/sep.gif") repeat-x scroll 0 264px transparent;
    overflow: hidden;
    width: 100%;
}
.slide-recent_bg {
}
.carousel ul li {
    float: left;
    list-style: none outside none;
}
.cols2 {
    margin: 0 auto;
    overflow: hidden;
    padding: 0 0 24px;
    width: 940px;
}
.col-4 {
    float: left;
    margin: 0 30px 0 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 290px;
}
.col-4 .wrapper-box .boxTitle h3 {
    color: #394562;
    font-size: 34px;
    line-height: 38px;
    margin-bottom: 18px;
    padding: 10px 0;
    text-transform: capitalize;
}
.col-4 .wrapper-box a.button {
    margin: 13px 0 0;
}
.col-5 {
    float: left;
    margin: 0 30px 0 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 290px;
}
.col-5 .wrapper-box .boxTitle h3 {
    color: #394562;
    font-size: 34px;
    line-height: 38px;
    margin-bottom: 18px;
    padding: 10px 0;
    text-transform: capitalize;
}
.col-5 .wrapper-box a.button {
    margin: 13px 0 0;
}
.col-6 {
    float: left;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 290px;
}
.col-6 .wrapper-box .boxTitle h3 {
    color: #394562;
    font-size: 34px;
    line-height: 38px;
    margin-bottom: 18px;
    padding: 10px 0;
    text-transform: capitalize;
}
.col-6 .wrapper-box a.button {
    margin: 13px 0 0;
}
.quicks-solutions {
    left: 239px;
    position: absolute;
    top: 0;
    width: 500px;
}
.foot_list {
    float: left;
    margin: 0;
    overflow: hidden;
    width: 200px;
}
.foot_list li {
    overflow: hidden;
    vertical-align: top;
    width: 100%;
}
.foot_list li a {
    background: url("/assets/maket/marker2.gif") no-repeat scroll 0 9px transparent;
    color: #FFFFFF;
    display: inline-block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 25px;
    padding: 0 0 0 13px;
    text-decoration: none;
}
.foot_list li a:hover {
    color: #20A2FF;
}
.quicks-solutions .pad {
    padding: 0 41px 0 0;
}
.newsletter {
    left: 720px;
    position: absolute;
    top: 0;
}
.indent-img {
    padding: 41px 0 0;
}
.col100 {
    padding: 0 0 30px;
}
.serchmod {
    position: absolute;
    right: 0;
    top: 3px;
}
.row-2 .col-1, .row-2 .col-2 {
    border-right: 1px solid #D7D9DA;
    margin-right: 3%;
    padding: 0 20px 0 0;
    width: 29%;
}
.row-2 .col-3 {
    width: 29%;
}
.img-indent5 {
    text-align: center;
}
.spacing-bot {
    padding: 0 0 15px;
}
.solutions .content-row-1 .col-1 {
    margin-right: 54px;
    width: 222px;
}
.solutions .content-row-1 .col-2 {
    width: 414px;
}
.p1 {
    margin: 0 0 17px;
}
